<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Felicidades Fafo</h1>
            <h3>Con cariño Mauri y Griss</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=qMRx5xtAkPc" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Videito</a>
        </div>
    </div>
</div>
<div class="page-header" data-parallax="true" style="background-color: #D0D3D4;">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <span class="label label-primary"><p style="font-size: 500%; font-weight: bold;">T</p></span>
            <span class="label label-info"><p style="font-size: 500%; font-weight: bold;">O</p></span>
            <span class="label label-success"><p style="font-size: 500%; font-weight: bold;">D</p></span>
            <span class="label label-warning"><p style="font-size: 500%; font-weight: bold;">I</p></span>
            <span class="label label-danger"><p style="font-size: 500%; font-weight: bold;">E</p></span>
            <span class="label label-primary"><p style="font-size: 500%; font-weight: bold;">S</p></span>
            <h3>{{message}}</h3>
            <br>
            <div class="row justify-content-center">
                <img src="{{dices[firstDice + '']}}" style="width: 50px; height: 50px;">
                <img src="{{dices[secondDice + '']}}" style="width: 50px; height: 50px;">
            </div>
            <br>
            <div class="row justify-content-center">
                <div *ngFor="let star of stars">
                    <img src="{{star}}" style="width: 50px; height: 50px;">
                </div>
            </div>
            <br>
            <button type="button" class="btn btn-outline-neutral btn-round" (click)="throwDices()">Lanzar</button>
        </div>
    </div>
</div>