<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Felicidades Fafo</h1>
            <h3>Con cariño Mauri y Griss</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=qMRx5xtAkPc" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Videito</a>
        </div>
    </div>
</div>
<div class="page-header" data-parallax="true" style="background-color: #D0D3D4;">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>TODIES</h1>
            <h3>{{message}}</h3>
            <br />
            <p>{{firstDice}} {{secondDice}}</p>
            <div class="row justify-content-center">
                <div *ngFor="let star of stars">{{star}}  </div>
            </div>
            <button type="button" class="btn btn-outline-neutral btn-round" (click)="throwDices()">Lanzar</button>
        </div>
    </div>
</div>