<div class="page-header" data-parallax="true" style="background-color: #D0D3D4;">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <span class="label label-primary"><p style="font-size: 500%; font-weight: bold; text-shadow: 3px 2px black; color: lightslategrey;">T</p></span>
          <span class="label label-info"><p style="font-size: 500%; font-weight: bold; text-shadow: 3px 2px black">O</p></span>
          <span class="label label-success"><p style="font-size: 500%; font-weight: bold; text-shadow: 3px 2px black">D</p></span>
          <span class="label label-warning"><p style="font-size: 500%; font-weight: bold; text-shadow: 3px 2px black">I</p></span>
          <span class="label label-danger"><p style="font-size: 500%; font-weight: bold; text-shadow: 3px 2px black">E</p></span>
          <span class="label label-primary"><p style="font-size: 500%; font-weight: bold; text-shadow: 3px 2px black">S</p></span>
          <h3>{{message}}</h3>
          <br>
          <div class="row justify-content-center">
              <img src="{{dices[firstDice + '']}}" style="width: 50px; height: 50px;">
              <img src="{{dices[secondDice + '']}}" style="width: 50px; height: 50px;">
          </div>
          <br>
          <div class="row justify-content-center" style="height: 50px;">
              <div *ngFor="let star of stars">
                  <img src="{{star}}" style="width: 50px; height: 50px;">
              </div>
          </div>
          <br>
          <button type="button" class="btn btn-outline-neutral btn-round" (click)="throwDices()">Lanzar</button>
      </div>
  </div>
</div>
