<div class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>Felicidades Fafo</h1>
          <h3>Con cariño Mauri y Griss</h3>
          <br />
          <a routerLink="/todies" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Jugar</a>
          <a href="https://www.youtube.com/watch?v=qMRx5xtAkPc" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Videito</a>
      </div>
  </div>
</div>
