<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/space-1.jpg');">
  <div class="filter"></div>
  <div class="container">
      <div class="motto text-center">
          <h1>TODIES for FA</h1>
          <span>Con <i class="fa fa-heart heart"></i> de Mauri y Griss</span>
          <br />
          <br />
          <a href="https://www.youtube.com/watch?v=qMRx5xtAkPc" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Videito</a>
          <a routerLink="/todies" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Jugar</a>
      </div>
  </div>
</div>
